.container-fluid{
	overflow: hidden;
}
#header{
	height:90px;
	line-height: 90px;
}
#header h1{
	padding:0;
	padding-left:25px;
}
#title{
	color:#717070;
}
#title:hover{
	text-decoration: none;
}
#content{
	width:1024px;
	padding-top:2em;
}
